ci:
  autoupdate_schedule: "quarterly"
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: debug-statements
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    files: ^openff
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
    files: ^openff
- repo: https://github.com/PyCQA/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
    files: ^openff
